<!-- Nav tabs -->
<ul class="nav nav-stacked aside" role="tablist">
    <li role="presentation" class="active"><a href="#date-today-todo" aria-controls="date-today-todo" data-toggle="tab">今日待办</a></li>
    <li role="presentation"><a href="#date-my-task" aria-controls="date-my-task" data-toggle="tab" id="date-dd-task">我的日程</a></li>
    <li role="presentation"><a href="#date-task-overview" aria-controls="date-task-overview" data-toggle="tab">工作概况</a></li>
    <li role="presentation"><a href="#date-all-task" aria-controls="date-all-task" data-toggle="tab">所有事项</a></li>
</ul>
